@model IEnumerable<Korepetycje.Models.Exercises>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<a href="@Url.Action("Create")" class="btn btn-success btn-lg">
    Dodaj <i class="glyphicon glyphicon-plus-sign add-item-icon"></i>
</a>


<table class="table">
    <tr>
        <th scope="col">
            @Html.Label("Szkoła")
        </th>
        <th scope="col">
            @Html.Label("Klasa")
        </th>
        <th scope="col">
            @Html.Label("Dział")
        </th>
        <th scope="col">
            @Html.Label("Temat")
        </th>       
        <th scope="col">
            @Html.Label("Zdjęcie")
        </th>
        <th scope="col">
            @Html.Label("Opcje")
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>

        <td data-label="Szkoła">
            @Html.DisplayFor(modelItem => item.SchoolList.Name)
        </td>
        <td data-label="Klasa">
            @Html.DisplayFor(modelItem => item.SchoolClassList.ClassNumber)
        </td>
        <td data-label="Dział">
            @Html.DisplayFor(modelItem => item.Section.Name)
            @if (item.Section.IsDeleted)
            {
                <i class="glyphicon glyphicon-exclamation-sign text-danger"></i>
            }
        </td>
        <td data-label="Temat">
            @Html.DisplayFor(modelItem => item.Topic)
        </td>
        <td data-label="Zdjęcie">
            @if (item.FotoPath != null)
            {
                <i class="glyphicon glyphicon-ok-circle ok-icon"></i>
            }
            else
            {
                <i class="glyphicon glyphicon-remove-circle not-ok-icon"></i>
            }

        </td>
        <td data-label="Opcje">
            <a href="@Url.Action("Edit", new { id = item.Id })"><i class="glyphicon glyphicon-cog margin-horizontal-7 action-edit"></i></a> 
            <a href="@Url.Action("Edit", new { id = item.Id })"><i class="glyphicon glyphicon-file margin-horizontal-7 action-details"></i></a>
            <a href="@Url.Action("Edit", new { id = item.Id })"><i class="glyphicon glyphicon-trash margin-horizontal-7 action-delete"></i></a>
        </td>
    </tr>
}

</table>
