@model IEnumerable<Korepetycje.Models.Exercises>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.Label("Poziom")
        </th>
        <th>
            @Html.Label("Dział")
        </th>
        <th>
            @Html.Label("Temat")
        </th>       
        <th>
            @Html.Label("Zdjęcie")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.SchoolList.Name) - @Html.DisplayFor(modelItem => item.SchoolClassList.ClassNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Section.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Topic)
        </td>
        <td>
            @if (item.FotoPath != null)
            {
                <i class="glyphicon glyphicon-ok-circle ok-icon"></i>
            }
            else
            {
                <i class="glyphicon glyphicon-remove-circle not-ok-icon"></i>
            }

        </td>
        <td>
            <a href="@Url.Action("Edit", new { id = item.Id })"><i class="glyphicon glyphicon-cog margin-horizontal-7 action-edit"></i></a> 
            <a href="@Url.Action("Edit", new { id = item.Id })"><i class="glyphicon glyphicon-file margin-horizontal-7 action-details"></i></a>
            <a href="@Url.Action("Edit", new { id = item.Id })"><i class="glyphicon glyphicon-trash margin-horizontal-7 action-delete"></i></a>
        </td>
    </tr>
}

</table>
