@model Korepetycje.ViewModels.CreateHomeworkViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<div class="form-horizontal">
    <div class="form-group">
        @Html.LabelFor(model => model.StudentId, "Wybierz ucznia", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("StudentId", new SelectList(Model.Student, "Id", "FullName"), htmlAttributes: new { @class = "form-control", @id = "js-StudentSelect" })
            @Html.ValidationMessageFor(model => model.StudentId, "", new { @class = "text-danger" })
        </div>
    </div>

    @using (Html.BeginForm("Search", "AdminHomeWork"))
            {
        @Html.AntiForgeryToken()


        <div class="form-group">
            @Html.Label("Wyszukaj zadania", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div id="search-homework-users" class="input-group">
                    @Html.TextBoxFor(Model => Model.SearchTerm, htmlAttributes: new { @class = "form-control", @id = "search-homework-users", placeholder = "wyszukaj po działach, tematach itp..." })
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-search"></i>
                    </span>
                </div>
            </div>
        </div>

    }
</div>





                    <table class="table">
                        <tr>
                            <th>
                                @Html.Label("Poziom")
                            </th>
                            <th>
                                @Html.Label("Klasa")
                            </th>
                            <th>
                                @Html.Label("Dział")
                            </th>
                            <th>
                                @Html.Label("Temat")
                            </th>
                            <th>
                                @Html.Label("Zdjęcie")
                            </th>
                            <th>
                                @Html.Label("Zadaj")
                            </th>
                        </tr>

                        @foreach (var item in Model.Exercise)
                        {
                            <tr>

                                <td data-label="Szkoła">
                                    @Html.DisplayFor(modelItem => item.SchoolList.Name)
                                </td>
                                <td data-label="Klasa">
                                    @Html.DisplayFor(modelItem => item.SchoolClassList.ClassNumber)
                                </td>
                                <td data-label="Dział">
                                    @Html.DisplayFor(modelItem => item.Section.Name)
                                </td>
                                <td data-label="Temat">
                                    @Html.DisplayFor(modelItem => item.Topic)
                                </td>
                                <td data-label="Zdjęcie">

                                    @if (item.FotoPath != null)
                                    {
                                        <i class="glyphicon glyphicon-ok-circle ok-icon"></i>
                                    }
                                    else
                                    {
                                        <i class="glyphicon glyphicon-remove-circle not-ok-icon"></i>
                                    }

                                </td>
                                <td data-label="Zadaj">
                                    <button exercise-id="@item.Id" class="btn btn-sm js-toggleHomewodk"><i class="glyphicon glyphicon-pencil"></i></button>
                                </td>
                            </tr>
                        }

                    </table>


                    <div>
                        @Html.ActionLink("Back to List", "Index")
                    </div>

@section scripts
{
    <script>
        $(document).ready(function () {
            $(".js-toggleHomewodk").click(function () {
                var button = $(this);
                var studentId = $("#js-StudentSelect").val();
                var studentName = $("#js-StudentSelect :selected").text();
                $.post("/api/AdminHomeWork", { ExerciseId: button.attr("exercise-id"), StudentId: studentId })
                    .fail(function () {
                        alert(studentName + " już ma to zadanie!");
                    })
                        
            });
        });
    </script>
    
    
}
