@model IEnumerable<Korepetycje.Models.Homeworks>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Student.FirstName + model.Student.LastName )
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Exercise.Topic)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TaskDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsRead)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Student.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Exercise.Topic)
        </td>
        
        <th>
            @Html.DisplayNameFor(model => model.TaskDateTime)
        </th>
        <td>
            @Html.DisplayFor(modelItem => item.IsRead)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
