@model IEnumerable<Korepetycje.Models.Homeworks>

<h2>Lista zadań domowych</h2>

<a href="@Url.Action("Create")" class="btn btn-success btn-lg">
    Dodaj <i class="glyphicon glyphicon-plus-sign add-item-icon"></i>
</a>


<table class="table">
    <tr>
        <th scope="col">
            @Html.Label("Imię i nazwisko")
        </th>
        <th scope="col">
            @Html.Label("Dział")
        </th>
        <th scope="col">
            @Html.Label("Temat")
        </th>
        <th scope="col">
            @Html.Label("Godzina wysłania")
        </th>
        <th scope="col">
            @Html.Label("Otworzone")
        </th>
        <th scope="col">
            @Html.Label("opcje")
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td data-label="Imię i nazwiko">
            @Html.DisplayFor(modelItem => item.Student.FullName)
        </td>
        <td data-label="Dział">
            @Html.DisplayFor(modelItem => item.Exercise.Section.Name)
        </td>
        <td data-label="Temat">
            @Html.DisplayFor(modelItem => item.Exercise.Topic)
        </td>
        
        <td data-label="Godzina wysłania">
            @Html.DisplayFor(model => item.TaskDateTime)
        </td>
        <td data-label="Otworzone">
            @if (item.IsRead)
            {
                <i class="glyphicon glyphicon-ok-circle ok-icon"></i>
            }
            else
            {
                <i class="glyphicon glyphicon-remove-circle not-ok-icon"></i>
            }
        </td>
        <td data-label="Opcje">
            <a href="@Url.Action("Open", new { id = item.Id })"><i class="glyphicon glyphicon-file margin-horizontal-15 action-details"></i></a>
            <a href="#" class="js-action-delete" data-delete-id="@item.Id" data-exercise-name="@item.Exercise.Topic" data-student-name="@item.Student.FirstName"><i class="glyphicon glyphicon-trash margin-horizontal-7 action-delete "></i></a>
        </td>
    </tr>
}

</table>

@section scripts{
    
<script>

    $(".js-action-delete").click(function (e) {
        var link = $(this).attr("data-delete-id");
        var exerciseName = $(this).attr("data-exercise-name");
        var studentName = $(this).attr("data-student-name");
        var fade = $(e.target);

        bootbox.dialog({
            message: "Czy na pewno usunąć zadanie <b>" + exerciseName + "</b> <p> dla ucznia " + "<b>" + studentName + "</b>?</p>",
            title: "Potwierdź",
            buttons: {
                yes: {
                    label: 'Tak',
                    className: 'btn-danger',
                    callback: function () {
                        $.ajax({
                            url: "/api/AdminHomeWork/" + link,
                            method: "Delete"
                        })
                            .done(function () {
                                fade.parents("tr").fadeOut(function () {
                                    $(this).remove();
                                })
                            })
                            .fail(function () {
                                alert("Nie udało się usunąć!");
                            });
                    }
                },
                no: {
                    label: 'Nie',
                    className: 'btn-default',
                    callback: function () {
                        bootbox.hideAll();
                    }
                }
            }
        });

    });
    </script>



}
