<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    <li>@Html.ActionLink("Grafik", "Index", "AdminCalendar")</li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Zadania<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Działy", "Index", "Section")</li>
                            <li>@Html.ActionLink("Zbiór zadań", "Index", "Exercise")</li>
                            <li>@Html.ActionLink("Dodaj nowe zadanie", "Create", "Exercise")</li>
                            <li role="separator" class="divider"></li>
                            <li>@Html.ActionLink("Zadaj uczniowi", "Create", "AdminHomeWork")</li>
                            <li>@Html.ActionLink("Lista zadań domowych", "Index", "AdminHomeWork")</li>
                        </ul>
                    </li>
                    
                    <li>@Html.ActionLink("Lista uczniów", "Index", "ManageStudents")</li>
                    
                    
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

<script type="text/x-template" id="notification-template">
    <ul>
        <%
            _.each(notifications, function(notification){
        %>
        <li> <strong><%= notification.FullName %></strong>  <%= notification.Content %> |<p><%= notification.NotificationDate %></p>  </li>
        <%
        })
        %>
    </ul>
</script>

<script>
            $(document).ready(function () {
                $.get("/api/AdminNotifications", function (notifications) {

                    if (notifications.NewNotifications.length == 0)
                    {
                        $(".js-admin-notifications").popover({
                            html: true,
                            title: "Powiadomienia",
                            content: function () {
                                var compiled = _.template($("#notification-template").html());
                                return compiled({ notifications: notifications.OldNotifications });
                            },
                            placement: "bottom"
                        })
                    }
                    else
                    {
                        $(".js-notification-count")
                            .text(notifications.NewNotifications.length)
                            .removeClass("hide");

                        $(".js-admin-notifications").popover({
                            html: true,
                            title: "Powiadomienia",
                            content: function () {
                                var compiled = _.template($("#notification-template").html());
                                return compiled({ notifications: notifications.NewNotifications });
                            },
                            placement: "bottom"
                        }).on("shown.bs.popover", function () {
                            $.post("/api/AdminNotifications/ReadUpdate")
                                .done(function () {
                                    $(".js-notification-count")
                                        .text("")
                                        .addClass("hide");
                                });
                        });
                    }
                    
                    

                });
            });
</script>

