@model Korepetycje.ViewModels.OpenHomeWorkViewModel

@{
    ViewBag.Title = "Open";
}

<h2>Open</h2>

<div>
    <h4>Exercises</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.Label("Dział")
        </dt>

        <dd>
            @Html.DisplayTextFor(model => model.Exercise.Section.Name)
        </dd>

        <dt>
            @Html.Label("Temat")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Exercise.Topic)
        </dd>

        <dt>
            @Html.Label("Tresc")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Exercise.Content)
        </dd>
        @if (!string.IsNullOrWhiteSpace(Model.Exercise.FotoPath))
        {
            <dt>
                @Html.Label("Zdjęcie")
            </dt>

            <dd>
                <img class="img-responsive" src="@Url.Content(@Model.Exercise.FotoPath)" id="js-image" style="height:20%; width:20%;" />
            </dd>
        }
    </dl>
</div>

@if (Model.Messages.ToList().Count > 0)
{
    <ol class="chat">
        @foreach (var item in Model.Messages)
        {
            if (item.StudentId == Model.LoggedUserId)
            {
                <li class="self">
                    <div class="avatar"><img src="@Url.Content(item.Student.AvatarPath)" draggable="false" /></div>
                    <div class="msg">
                        @if (!string.IsNullOrWhiteSpace(item.FotoPath))
                        {
                            <img src="@Url.Content(@item.FotoPath)" draggable="false" />
                        }
                        <p>@Html.DisplayTextFor(model => item.Content)</p>
                        <time>@Html.DisplayTextFor(model => item.Date)</time>
                    </div>
                </li>
            }
            else
            {
                <li class="other">
                    <div class="avatar"><img src="@Url.Content(item.Student.AvatarPath)" draggable="false" /></div>
                    <div class="msg">
                        @if (!string.IsNullOrWhiteSpace(item.FotoPath))
                        {
                            <img src="@Url.Content(@item.FotoPath)" draggable="false" />
                        }
                        <p>@Html.DisplayTextFor(model => item.Content)</p>
                        <time>@Html.DisplayTextFor(model => item.Date)</time>
                    </div>
                </li>
            }
        }
    </ol>

}

@using (Html.BeginForm("AddMessage", "AdminHomeWork", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-group">
        @Html.EditorFor(model => model.NewMessageConntent, new { htmlAttributes = new { @class = "form-control" } })
        @Html.TextBoxFor(model => model.NewMessageFotoPath, new { type = "file" })
        @Html.HiddenFor(model => model.HomeWorkId)

        <input type="submit" value="Wyślij" class="btn btn-subbmit" />
    </div>
}

@section scripts
{
<script>
    $(document).ready(function () {
        $("#js-image").click(function () {

            if ($(this).css("width") > "20%") {
                $(this).css({ "width": "20%", "height": "20%" });
            }
            else {
                $(this).css({ "width": "100%", "height": "100%" });
            }            
        });
    });
</script>
}